body{
  margin: 0;
  font-family: Arial, sans-serif;
    color: #111;
  background-color: #e5e7eb;
}


main{
  max-width: 1200px;
  margin: auto;
  /* padding: 20px; */
  padding: 40px 20px;
  text-align: center;
}